##1

n = 20
Training Error
[144.70998500000024, 35556.342175499645]
Validation Error
[379.9105199999986, 228538.64595599895]
checkmate_move_done -> 0.0107886862939
is_draw -> 0.00406271941907
last_scores -> 0.138940605302
match_len -> 0.111000352026
mean -> 0.178182583808
no_of_checks_scaled -> 0.12001875963
no_of_mistakes_scaled -> 0.106674242198
no_of_piece_taken_scaled -> 0.144189471502
std_points -> 0.186142579821

##2

